@use 'hover';
@use 'cards';
@use 'fonts';
@use 'colors';
@use 'utils';
@use 'buttons';

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Samarkan';
  font-display: swap;
  src: url('~/assets/fonts/SAMARN__.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('~/assets/fonts/Montserrat-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('~/assets/fonts/Poppins-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Teko';
  font-display: swap;
  src: url('~/assets/fonts/Teko-Regular.ttf') format('ttf');
}

